extends ../layouts/main.pug

block content

    block main
        main.container.p-5
            section.jumbotron.mt-4.card.text-center
                div.card-header
                    h2.display-4 Update team
                div.card-body
                    - let {_id, team, titles, crrMng, kitCls} = teamFound;
                    form.container(action=`/teams/edit/${_id}?_method=PUT` method="POST")
                        input(type="hidden" name="_method" value="PUT")
                        div.form-group.container
                            input.form-control.mt-2(type="text" name="team" value=team required)
                            input.form-control.mt-2(type="number" name="titles" value=titles min="0" required)
                            input.form-control.mt-2(type="text" name="kitCls" value=kitCls required)
                            input.form-control.mt-2(type="text" name="crrMng" value=crrMng required)
                            input.btn.btn-primary.mt-2(type="submit" name="send" value="Send")